{{ define "base" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>{{ template "title" . }}</title>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1"
            />
            <!-- no favicon -->
            <link rel="icon" href="data:," />
            <link href="/static/styles/style.css" rel="stylesheet" />
        </head>
        <body>
            <header>
                <a class="name-title" href="/">
                    To<span class="name-do">Do</span>
                    <span class="name-list">List</span>
                </a>
                <div class="search">
                    <input class="search-box" type="search" />
                    <div class="search-icon"></div>
                </div>
                <div>
                    {{ if .IsAuthenticated }}
                        <form
                            class="logout-form"
                            action="/user/logout"
                            method="post"
                        >
                            <input type="hidden" />
                            <button type="submit" class="logout-icon"></button>
                        </form>
                    {{ end }}
                    <a class="login" href="/user/login">
                        {{ if .IsAuthenticated }}
                            {{ .User }}
                        {{ else }}
                            Login
                        {{ end }}
                    </a>
                </div>
            </header>
            {{ template "content" . }}
            <!-- <footer> -->
            <!--     &copy Copyright -->
            <!--     {{ .ThisYear }} -->
            <!-- </footer> -->
        </body>
    </html>
{{ end }}
