{{ template "base" . }}
{{ define "title" }}Todo List [WIP] - Login{{ end }}

{{ define "content" }}
    <form action="/user/login" class="login-form" method="post">
        <label class="bold-text"> Username</label>
        <input name="username" class="form-user" />
        <label class="bold-text"> Password</label>
        <input name="password" class="form-pass" type="password" />
        <button class="form-button" type="submit">Login</button>
    </form>
{{ end }}
