{{ template "base" . }}
{{ define "title" }}Todo List{{ end }}
{{ define "scripts" }}
    <script src="/static/js/header.js"></script>
    <script src="/static/js/index.js"></script>
{{ end }}
{{ define "content" }}{{ end }}
